name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: install
        run: npm ci

      - name: compile
        run: npm run compile

      - name: format-check
        run: npm run format-check

      - name: lint
        run: npm run lint-check

      - name: build
        run: npm run build

      - name: test
        run: npm run test

      - name: check dist is up-to-date
        run: git diff --name-only --quiet

      - uses: codecov/codecov-action@v5
